<p id="notice"><%= notice %></p>

<p>
  <strong>Hante:</strong>
  <%= @chkbox.hante %>
</p>

<p>
  <strong>Suuji:</strong>
  <%= @chkbox.suuji %>
</p>

<%= link_to 'Edit', edit_chkbox_path(@chkbox) %> |
<%= link_to 'Back', chkboxes_path %>
